* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.box {
  height: 10rem;
  width: 10rem;
}

.box1 {
  background: rgb(197, 82, 82);
}
.box2 {
  background: rgb(131, 107, 107);
}
.box3 {
  background: rgb(59, 34, 99);
}
.box4 {
  background: rgb(175, 165, 25);
}
.box5 {
  background: rgb(151, 89, 18);
}
.box6 {
  background: rgb(83, 10, 34);
}
